[versions]
androidTools = "4.1.3"
anvil = "2.2.0"
benManes = "0.36.0"
changeTracker = "0.7.3"
compileSdk = "30"
dependencyAnalysis = "0.63.0"
dokka = "1.4.20"
gradleDoctor = "0.7.0"
groovy = "3.0.7"
hermit = "0.9.2"
jUnit = "5.7.1"
knit = "0.2.3"
kotest = "4.4.3"
kotlin = "1.4.32"
kotlinter = "3.3.0"
mavenPublish = "0.13.0"
minSdk = "23"
sonarPlugin = "2.6.1"
spoon = "1.5.0"
spotless = "5.10.1"
targetSdk = "30"
taskTree = "1.5"
versionName = "0.10.0"

[libraries]

androidGradlePlugin = { module = "com.android.tools.build:gradle", version.ref = "androidTools" }
anvil = { module = "com.squareup.anvil:gradle-plugin", version.ref = "anvil" }
javaParser = "com.github.javaparser:javaparser-symbol-solver-core:3.20.2"
kotlinCompiler = { module = "org.jetbrains.kotlin:kotlin-compiler-embeddable", version.ref = "kotlin" }
kotlinGradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlinPoet = "com.squareup:kotlinpoet:1.8.0"
kotlinReflect = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref = "kotlin" }
kotlinter = { module = "org.jmailen.gradle:kotlinter-gradle", version.ref = "kotlinter" }
semVer = "net.swiftzer.semver:semver:1.1.1"

groovyXml = { module = "org.codehaus.groovy:groovy-xml", version.ref = "groovy" }

junit-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "jUnit" }
junit-params = { module = "org.junit.jupiter:junit-jupiter-params", version.ref = "jUnit" }
junit-engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "jUnit" }

kotest-assertions = { module = "io.kotest:kotest-assertions-core-jvm", version.ref = "kotest" }
kotest-properties = { module = "io.kotest:kotest-property-jvm", version.ref = "kotest" }
kotest-runner = { module = "io.kotest:kotest-runner-junit5-jvm", version.ref = "kotest" }

hermit-core = { module = "com.rickbusarow.hermit:hermit-core", version.ref = "hermit" }
hermit-jUnit4 = { module = "com.rickbusarow.hermit:hermit-junit4", version.ref = "hermit" }
hermit-jUnit5 = { module = "com.rickbusarow.hermit:hermit-junit5", version.ref = "hermit" }
hermit-mockk = { module = "com.rickbusarow.hermit:hermit-mockk", version.ref = "hermit" }
hermit-coroutines = { module = "com.rickbusarow.hermit:hermit-coroutines", version.ref = "hermit" }

[bundles]
jUnit = ["junit-api", "junit-params", "junit-engine"]
kotest = ["kotest-assertions", "kotest-properties", "kotest-runner"]
hermit = ["hermit-core", "hermit-jUnit5"]
