name: CI

on:
  pull_request:
  workflow_dispatch:


jobs:

  cancel-other-jobs:

    runs-on: ubuntu-latest

    steps:
      # cancel previous jobs
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

  detekt:

    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]' && github.actor != 'dependabot-preview[bot]'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up JDK
        uses : actions/setup-java@v2
        with :
          distribution : 'adopt'
          java-version : '11'
          cache: 'gradle'

#      - uses: burrunan/gradle-cache-action@v1
#        name: detekt
#        with:
#          gradle-dependencies-cache-key: |
#            gradle/libs.versions.toml
#          arguments: |
#            detekt --no-daemon
#          concurrent: true
#          gradle-build-scan-report: false

      - name: detekt
        run: ./gradlew detekt --no-daemon

  ktlint:

    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]' && github.actor != 'dependabot-preview[bot]'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Set up JDK
        uses : actions/setup-java@v2
        with :
          distribution : 'adopt'
          java-version : '11'
          cache: 'gradle'

      # formats all src files
#      - uses: burrunan/gradle-cache-action@v1
#        name: KtLint format
#        with:
#          gradle-dependencies-cache-key: |
#            gradle/libs.versions.toml
#          arguments: |
#            ktlintformat
#          concurrent: true
#          gradle-build-scan-report: false

      - name: KtLint format
        run: ./gradlew ktlintformat --no-daemon

      # If KtLint generated changes, commit and push those changes.
      - name: commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply KtLint format
          commit_options: '--no-verify --signoff'

  versioning:

    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]' && github.actor != 'dependabot-preview[bot]'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Set up JDK
        uses : actions/setup-java@v2
        with :
          distribution : 'adopt'
          java-version : '14'
          cache: 'gradle'

      - name: Sync versions in website docs
        run: ./gradlew updateWebsiteNextDocsVersionRefs --no-daemon

      - name: commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: update docs versions
          commit_options: '--no-verify --signoff'

#      - uses: burrunan/gradle-cache-action@v1
#        name: Update version in website package.json
#        with:
#          gradle-dependencies-cache-key: |
#            gradle/libs.versions.toml
#          arguments: |
#            updateWebsitePackageJsonVersion
#          concurrent: true
#          gradle-build-scan-report: false

      - name: Update version in website package.json
        run: ./gradlew updateWebsitePackageJsonVersion

      - name: commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: update website versions
          commit_options: '--no-verify --signoff'

  tests-ubuntu:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        kotlin-version: [ 1.5.32, 1.6.10 ]
        gradle-version: [ 7.1, 7.4 ]
        agp-version: [ 7.0.3, 7.1.1 ]
        anvil-version: [ 2.3.10, 2.3.10-1-6-0 ]
        # use kotlin 1.5.32 with Anvil 2.3.10, and kotlin 1.6.10 with anvil 2.3.10-1-6-0
        exclude:
          - kotlin-version: 1.5.32
            anvil-version: 2.3.10-1-6-0
          - kotlin-version: 1.6.10
            anvil-version: 2.3.10
            # AGP 7.1.1 requires Gradle 7.2+
          - gradle-version: 7.1
            agp-version: 7.1.1

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up JDK
        uses : actions/setup-java@v2
        with :
          distribution : 'adopt'
          java-version : '11'
          cache: 'gradle'

      - uses: burrunan/gradle-cache-action@v1
        name: all tests
        with:
          gradle-dependencies-cache-key: |
            gradle/libs.versions.toml
          arguments: |
            testJvm
          properties: |
            modulecheck.kotlinVersion=${{ matrix.kotlin-version }}
            modulecheck.gradleVersion=${{ matrix.gradle-version }}
            modulecheck.agpVersion=${{ matrix.agp-version }}
          concurrent: true
          gradle-build-scan-report: false

      - name: Archive test results
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-results-ubuntu
          path: ./**/build/reports/tests/

      - name: Unit test results
        uses: mikepenz/action-junit-report@v1
        if: failure()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '**/build/**/TEST-*.xml'
          check_name: Unit Test Results - Ubuntu

  tests-windows:

    runs-on: windows-latest

    steps:

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up JDK
        uses : actions/setup-java@v2
        with :
          distribution : 'adopt'
          java-version : '11'
          cache: 'gradle'

#      - uses: burrunan/gradle-cache-action@v1
#        name: all tests
#        with:
#          gradle-dependencies-cache-key: |
#            gradle/libs.versions.toml
#          arguments: |
#            testJvm
#          concurrent: true
#          gradle-build-scan-report: false

      - name: all tests
        run: ./gradlew testJvm

      - name: Archive test results
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-results-windows
          path: ./**/build/reports/tests/

      - name: Unit test results
        uses: mikepenz/action-junit-report@v1
        if: failure()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '**/build/**/TEST-*.xml'
          check_name: Unit Test Results - Windows
